<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Ruby Tuesday Meetup #107</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="/images/klxrb.png">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/klxrb.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>
  </head>

  <body>

    <div class="reveal">
      <div class="slides">

        <section>
          <img src="images/ruby-tuesdays-template.jpg">
          <p>Ruby Tuesday - KL #108</p>
        </section>

        <section>
          <section>
            Brought to you by <br />
            <img src="/images/klxrb.png" height="150" style="background: white">
            <img src="/images/engineersmy.png" height="150" style="background: white">
          </section>

          <section>
            <div style="text-align:center">
              <img src="/images/facebook.jpg" alt=""> <br />
              https://www.facebook.com/groups/klxrb <br />
              https://rubybrigade.my
            </div>
          </section>

          <section>
            <div style="text-align:center">
              <img src="/images/meetup.svg" height=120 style="background:white"> <br />
              https://www.meetup.com/ruby-malaysia/ <br />
            </div>
          </section>

          <section>
            <div style="text-align:center">
              <img src="/images/github-logo.png" width=80> <br />
              https://www.github.com/klxrb
            </div>
          </section>

          <section>
            <div style="text-align:center">
              <img src="/images/slack.png" width="100" style="border: none; background: none; box-shadow: none"> <br />
              https://rubybrigade.my/slack_invite<br />
              https://bit.ly/rubymyslack
            </div>
          </section>

          <section>
            <div style="text-align:center">
              <img src="/images/discord.jpg" width="100" style="border: none; background: none; box-shadow: none"> <br />
              https://discord.gg/nRVNBTV
            </div>
          </section>
        </section>

        <section>
          <section>
            Today's venue, food, and drinks are sponsored by<br />
            <img src="/images/shortcut-logo-black.jpg" height="150" style="border: 0px"><br />
            Whether you’re looking for app design, development or consultancy, we have what it takes to take your app to the next level!
          </section>
        </section>

        <section>
          <section>
            <img src="/images/its_something.png">
            <br />
            <font size="5">Note to self: Remember to introduce yourself</font>
          </section>

          <section>
            <h3>Reminder #1: Comment / Chat</h3>
            <br />
            <font size="5">Profile name, profile picture & comment might show up on the stream.</font>
          </section>

          <section>
            <h3>Reminder #2: Event Code of Conduct</h3>
            <div style="text-align:center">
              <img src="/images/rubycommunity_coc_2023.png" style="width: 50%; height: auto;"> <br />
              https://www.ruby-lang.org/en/conduct/
            </div>
          </section>
        </section>

        <section>
          <section>
            <div>
              <h2>Dev/Staging/CI/Prod (dis)parity</h2>
              <br />
              <h3>by Helio Cola</h3>
            </div>
          </section>
        </section>

        <section>
          <section>
            <h2>Parking Lot</h2>
          </section>
          <section>
            <p>RedDotRuby Conference is back: <a href="">https://reddotrubyconf.com/</a></p>
            <img src="/images/reddotruby_2024.png" style="max-width:60%"/>
          </section>
          <section>
            <p>Rails Survey is up: <a href="">https://railsdeveloper.com/survey/</a></p>
          </section>
          <section>
            <p>Some interesting news from <a href="https://rubyweekly.com/issues/705">Ruby Weekly</a></p>
          </section>
          <section>
            <a href="https://www.ruby-lang.org/en/news/2024/05/30/ruby-3-3-2-released/"><p>Ruby 3.2.2 released</p></a>
            <img src="/images/ruby 3.2.2 released.png" />
          </section>
          <section>
            <a href="https://highperformancesqlite.com/interviews/dhh"><p>David Heinemeier Hansson on SQLite</p></a>
            <img src="https://i.vimeocdn.com/video/1858177517-0bf63356607500b10925de648be6efb7b58ce2e1a850eae63cd012125edc667f-d?mw=1100&mh=619&q=70" />
          </section>
          <section>
            <a href="https://greg.molnar.io/blog/a-single-file-rails-application/"><p>A Single file Rails Application</p></a>
            <pre style="font-size: x-small">
# frozen_string_literal: true
require 'bundler/inline'

gemfile(true) do
  source 'https://rubygems.org'

  gem 'rails', '~> 7.0.4'
  gem 'sqlite3'
end

require 'rails/all'
database = 'development.sqlite3'

ENV['DATABASE_URL'] = "sqlite3:#{database}"
ActiveRecord::Base.establish_connection(adapter: 'sqlite3', database: database)
ActiveRecord::Base.logger = Logger.new(STDOUT)
ActiveRecord::Schema.define do
  create_table :posts, force: true do |t|
  end

  create_table :comments, force: true do |t|
    t.integer :post_id
  end
end

class App < Rails::Application
  config.root = __dir__
  config.consider_all_requests_local = true
  config.secret_key_base = 'i_am_a_secret'
  config.active_storage.service_configurations = { 'local' => { 'service' => 'Disk', 'root' => './storage' } }

  routes.append do
    root to: 'welcome#index'
  end
end

class WelcomeController < ActionController::Base
  def index
    render inline: 'Hi!'
  end
end

App.initialize!

run App
</pre>
          </section>
          <section>
            <a href="https://www.johnhawthorn.com/2024/ruby-might-be-faster-than-you-think/"><p>Ruby might be faster than you think</p></a>
            <pre>
require 'crystalruby'
require 'benchmark'

module Fibonnaci
  crystalize [n: :int32] => :int32
  def fib_cr(n)
    a = 0
    b = 1
    n.times { a, b = b, a + b }
    a
  end

  module_function

  def fib_rb(n)
    a = 0
    b = 1
    n.times { a, b = b, a + b }
    a
  end
end

puts(Benchmark.realtime { 1_000_000.times { Fibonnaci.fib_rb(30) } })
puts(Benchmark.realtime { 1_000_000.times { Fibonnaci.fib_cr(30) } })
</pre>
          </section>
        </section>

        <section>
          <div style="text-align:center">
            <h2>See you all next month!</h2>
          </div>
        </section>
      </div>
    </div>

    <script src="js/reveal.js"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
        hash: true
			});
    </script>

  </body>
</html>
