<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>KL Ruby Brigade Meetup</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="/images/klxrb.png">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/default.css" id="theme">
    <link rel="stylesheet" href="css/columns.css">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">

        <section>
          <img src="images/klxrb_logo_100.png" width="200" style="border:none;background: none;box-shadow:none;">
          <h1>KL Ruby Brigade #100</h1>
        </section>

        <section>
          <img src="images/klxrb_logo_100.png" width="200" style="border:none;background: none;box-shadow:none;">
          <h1>KL Ruby Brigade Meetup</h1>
          <h3>a.k.a. Ruby Tuesday&trade;</h3>
        </section>

        <section>
          <section>
            <h2>How it got (re)Started</h2>
          </section>

          <section>
            <div class="row">
              <div class="column">
                <div style="text-align:center max-width: 200px">
                  <img src="images/jimmy.png" width="150"><br />
                  Jimmy
                </div>
              </div>
              <div class="column">
                <div style="text-align:center max-width: 200px">
                  <img src="images/tristan.jpg" width="150"><br />
                  Tristan
                </div>
              </div>
            </div>
            <div class="row">
              <div class="column">
                <div style="text-align:center max-width: 400px">
                  <img src="images/arzumy.png" width="150"><br />
                  Arzumy
                </div>
              </div>
              <div class="column">
                  <div style="text-align:center max-width: 400px">
                  <img src="images/nguyen.png" width="150"><br />
                  Nguyen
                </div>
              </div>
            </div>
          </section>
        </section>

        <section>
          <section>
            <h2>Why?</h2>
          </section>
          <section>
            <img src="images/forever_alone.png" width="500">
          </section>
          <section>
            <img src="images/yoda.jpg">
          </section>
          <section>
            <img src="images/code-kata.jpg">
          </section>
          <section>
            <img src="images/normal-pairing.jpg" width="500">
          </section>
          <section>
            <img src="images/community.jpg">
          </section>
        </section>

        <section>
          <section>
            <h2>Let check some numbers!</h2>
          </section>
          <section>
            <h2>First 2 Talks</h2>
            <div class="row">
              <div class="column">
                <h1>Code Kata</h1>
                <h2>by Tristan V. Gomez</h2>
              </div>
              <div class="column">
                <h1>Vagrant</h1>
                <h2>by Jimmy Ngu</h2>
              </div>
            </div>
          </section>
          <section>
            <h2>Last 2 Talks</h2>
            <div class="row">
              <div class="column">
                <h1>Rails assortments: rails credentials, let's benchmark...</h1>
                <h2>by Helio Cola</h2>
              </div>
              <div class="column">
                <h1>The New World of Passkeys meet Ruby</h1>
                <h2>by Helio Cola</h2>
              </div>
            </div>
          </section>
          <section>
            <h2>251 talks by 79 speakers</h2>
            <div class="row">
              <div class="column">
                <p>Adrian Ching</p>
                <p>Afif Sohaili</p>
                <p>Ajit Nawalkha</p>
                <p>Ali Ilman</p>
                <p>Amree Zaid</p>
                <p>Andre</p>
                <p>Andy Chong</p>
                <p>Arzumy</p>
              </div>
              <div class="column">
                <p>Axel Kee</p>
                <p>Azuan</p>
                <p>Baraa</p>
                <p>Ben Greenberg</p>
                <p>Breena</p>
                <p>Bruno Azenha</p>
                <p>Bruno Fernandes</p>
                <p>Călin Ciobanu</p>
              </div>
            </div>
          </section>

          <section>
            <h2>251 talks by 79 speakers (continue)</h2>
            <div class="row">
              <div class="column">
                <p>Calum Halcrow</p>
                <p>Calvin Te</p>
                <p>Carlos Lima
                <p>Cent Lee
                <p>Crystal Toh
                <p>Dave Appleton
                <p>Dhendy Ferdian
                <p>Edison
              </div>
              <div class="column">
                <p>Essam AB
                <p>Faizal Fikri
                <p>Faz (Mohammed Fazalullah)
                <p>Gooi Liang Zheng
                <p>Guoy
                <p>Haas
                <p>Hafiz Khairudin
                <p>Hass
              </div>
            </div>
          </section>

          <section>
            <h2>251 talks by 79 speakers (continue)</h2>
            <div class="row">
              <div class="column">
                <p>Hassanim (aka Chris P Bacon)
                <p>Hassanin Ahmed
                <p>Haziq Hafizuddin
                <p>Helio Cola
                <p>Iqbal Hasnan
                <p>Jimmy Ngu
                <p>Johnson Lai
                <p>Jose
              </div>
              <div class="column">
                <p>Josh Teng
                <p>Jowari Mokhtar
                <p>Kaine Wright
                <p>Karg Weng
                <p>Karuna Skj
                <p>Ken
                <p>Khaled Abbas
              </div>
            </div>
          </section>

          <section>
            <h2>251 talks by 79 speakers (continue)</h2>
            <div class="row">
              <div class="column">
                <p>Kris Khaira
                <p>KS
                <p>Looi Ferng Yi
                <p>Malcolm Rajeli
                <p>Meor
                <p>Milad Rastian
                <p>N.V. Nguyen
                <p>Natasha Zolotareva
              </div>
              <div class="column">
                <p>Navindran
                <p>Nazrin
                <p>Nicholas Ng
                <p>Nick Marden
                <p>Raja Hafifi Zaed
                <p>Rizal Muthi
                <p>Ryan Chew
                <p>Soo Yang
              </div>
            </div>
          </section>

          <section>
            <h2>251 talks by 79 speakers (continue)</h2>
            <div class="row">
              <div class="column">
                <p>Tan Chin Loong
                <p>Taufek Johar
                <p>TC Wu
                <p>Teh Pei Yee
                <p>Teo Hui Ming
                <p>Tevanraj Elengoe
                <p>TM Lee
                <p>Tok Wan
            </div>
              <div class="column">
                <p>Tristan Gomez
                <p>Victor Lim
                <p>Wai Yan Yoon
                <p>Waihon Yew
                <p>Welly Salim
                <p>Yaacob Noor
                <p>Yu Sheng
                <p>Zulhilmi Zainuddin
              </div>
            </div>
          </section>
          
          <section>
            <h2>Top 10 Speakers</h2>
            <div class="row">
              <div class="column">
                <p>Jimmy - 55</p>
                <p>Tristan - 32</p>
                <p>Guoy - 12</p>
                <p>Gooi Liang Zheng - 9</p>
                <p>Looi Ferng Yi - 9</p>
                <p>Hassanin Ahmed - 9</p>
                <p>Milad Rastian - 8</p>
              </div>
              <div class="column">
                <p>Calum Halcrow - 6</p>
                <p>Carlos Lima - 4</p>
                <p>Karg Weng - 4</p>
                <p>Tevanraj - 4</p>
                <p>Victor Lim - 4</p>
                <p>Nick Marden - 4</p>
                <p>Helio Cola - 4</p>
              </div>
            </div>
          </section>

          <section>
            <h2>3 Ruby Conferences (and counting 🤞🏽)</h2>
          </section>
          <section>
            <img src="images/rcmy2016.png" width="100%">
          </section>
          <section>
            <img src="images/rcmy2017.png" width="100%">
          </section>
          <section>
            <img src="images/rcmy2018.png" width="100%">
          </section>
        </section>

        <section>
          <section>
            <img src="images/future.jpg">
          </section>

          <section>
            <h2>Help wanted!!</h2>
            <div style="">
              <div style="width: 80%;margin-left: 150px;text-align:justify">
                <ol>
                <li>Help organizing events
                <li>Become a speaker
                <li>Talk to your colleagues about RubyTuesday
                <li>Or just come to say hi 1x per month!
                </ol>
              </div>
            </div>
          </section>
        </section>
      </div>

    </div>

    <script src="js/reveal.js"></script>
    <script>
      // More info about initialization & config:
      // - https://revealjs.com/initialization/
      // - https://revealjs.com/config/
      Reveal.initialize({
        hash: true
      });
    </script>

  </body>
</html>
